<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Location | LocaLink</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <header>
      <h2 class="logo">LocaLink</h2>
      <nav class="navigation">
        <a href="/home-employer">Home</a>
        <a href="#">About</a>
        <a href="/logout">Logout</a>
        <!-- Add a logout link -->
      </nav>
    </header>
    <main>
        <form action="/requestworker" method="post" id="potential-workers-list" class="input-box" name="potential-workers">
            <span>
                Here's a list of potential workers for <%= skillname %>
            </span>
            <ul class="worker-list">
              <% workers.forEach(worker => { %>
                <li>
                  <input type="radio" name="worker" value="<%= JSON.stringify({ workerid: worker.workerid, jobid: worker.jobid })%>" required>
                  <%= worker.firstname %> <%= worker.lastname %> - <%= worker.experience %> years of experience - $<%= worker.preferredrate %> an hour
                </li>
              <% }); %>
            </ul>
            <button type="submit"></button>
        </form>
    </main>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const workers = document.querySelectorAll('.worker-list li')
        workers.forEach(worker => {
          worker.addEventListener('click', () => {
            // Remove 'selected' class from all items first
            workers.forEach(otherworker => {
                if (otherworker !== worker) {
                    otherworker.classList.remove('selected');
                }
            });

            worker.classList.toggle('selected');
          });
        });
      })
    </script>
  </body>

</html>
